body {
    background-image: url(/6dda195738516d23985f5152737999ae.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;    /* 가로 중앙 정렬 */
    align-items: center;        
    flex-direction: column;     /* 세로 방향으로 쌓기!! */
    height: 100vh;
    margin: 0;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

}

h1{
    font-size: 50px;
}


body p{
    font-size: 30px;
    
}